@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: 33, 235, 199;

  --dark-50: 15, 15, 15;

  --accent-50: 255, 255, 255;

  --danger-50: 157, 38, 55;

  --warning-50: 242, 175, 40;

  --light-50: 126, 126, 126;

  --success-50: 13, 203, 66;

  --secondary-50: 64, 255, 181;
  --body-font: 'Inter', sans-serif;
  --font-primary: 'Montserrat', sans-serif;
  /* --font-secondary: 'Nunito Sans', sans-serif; */
}

body {
  @apply font-body bg-dark-100 text-accent-100;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
