@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: 72, 131, 249;

  --dark-50: 0, 0, 0;
  --dark-100: 47, 37, 29;
  --dark-200: 60, 60, 60;
  --dark-300: 19, 19, 20;

  --light-50: 106, 106, 106;
  --light-100: 242, 242, 242;
  --light-200: 217, 217, 217;
  --light-300: 127, 122, 122;
  --light-400: 227, 227, 225;
  
  --secondary-50:   174, 111, 40;
  --secondary-100: 239, 201, 109;

  --accent-50: 255, 255, 255;

  --danger-50: 157, 38, 55;

  --warning-50: 242, 175, 40;


  --success-50: 13, 203, 66;

  --body-font: 'Inter', sans-serif;
  --font-primary: 'Montserrat', sans-serif;
  /* --font-secondary: 'Nunito Sans', sans-serif; */
}

body {
  @apply font-body;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
